* {
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* Header */

.header {
    background: url(../img/jumbotron.jpg) top / auto 200% no-repeat;
    height: 230px;
    text-align: center;
}

#top-bar .container {
    display: flex;
    justify-content: end;
    width: 90%;
    height: 60px;
    margin: 0 auto;
}

#top-bar .container li {
    display: inline-block;
    line-height: 60px;
}

#top-bar a {
    font-size: 14px;
    color: #797979;
}

.name {
    line-height: 60px;
    margin-right: auto;
    color: #69b6e7;
    font-size: 14px;
}

h1 {
    padding: 40px 31px 20px;
    font-size: 35px;
    color: #fff;
}

.button {
    display: inline-block;
    padding: 20px 30px;
    margin: 0 auto;
    border-radius: 25px;
    background: #fa5ba5;
    color: #fff;
}

/* Services */

h2, 
h3 {
    font-weight: 600;
    color: #5d5d5d;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

#services .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 75px;
}

.service {
    width: 90%;
    text-align: center;
    color: #5d5d5d;
}

.service-icon {
    height: 64px;
    width: 64px;
    margin: 20px auto;
}

.clock {
    background: url(../img/icons-sprite.png) -10px -94px;
}

.calendar {
    background: url(../img/icons-sprite.png) -79px -7px / 230%;
}

.diagram {
    background: url(../img/icons-sprite.png) -10px -10px;
}

/* Blog */

#blog{
    background-color: #f1f1f1;
}

h3 {
    font-size: 1.2em;
}

article {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 15px auto 10px;
}

article img {
    display: block;
    order: 2;
    height: 200px;
    width: 90%;
    object-fit: cover;
    object-position: bottom;
    margin: 15px auto;
}

.content {
    order: 1;
}

.blog-heading {
    padding: 10px 0;
}

.blog-date {
    color: #5d5d5d;
    padding-bottom: 15px;
    font-size: .8em;
}

.blog-text {
    color: #5d5d5d;
    font-size: .9em;
}

article:last-child {
    padding-bottom: 50px;
}

/* Gallery */

#gallery .container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 30px auto 50px;
    flex-wrap: wrap;
    width: 100%;
}

#gallery img {
    height: 150px;
    width: 45%;
    object-fit: cover;
    object-position: center;
}

/* Footer */

footer {
    padding: 30px 0;
    background-color: #38404b;
    text-align: center;
}

.gray {
    color: #a4b1c3;
}

footer li {
    display: inline-block;
    padding: 20px 5px;
}

.footer-header {
    font-size: 1.3em;
}

.copyright {
    color: #fff;
    font-size: .8em;
}

@media (min-width: 450px) {
    #top-bar .container li {
        padding: 0 10px;
    }
    article img {
        height: 250px;
    }
    h1 {
        padding: 50px 0;
    }
    .service {
        width: 340px;
    }
}

@media (min-width: 688px) {
    .service {
        width: 25%;
    }
    #gallery img {
        width: 25%;
        height: 200px;
    }
    article img {
        order: 1;
        width: 30%;
        padding-right: 20px;
        margin: 0;
    }
    .content {
        order: 2;
    }
    article {
        flex-direction: row;
    }
    .name {
        font-size: 1.2em;
    }
}

@media (min-width: 736px) {
    .header {
        height: 300px;
        background-size: auto 275%;
    }
    h1 {
        padding-top: 75px;
    }
    article img {
        height: 200px;
        width: 250px;
    }
}

@media (min-width: 992px) {
    h2 {
        padding-top: 60px;
    }
    #gallery img {
        height: 250px;
    }
    h1 {
        font-size: 50px;
    }
}

@media (min-width: 1312px) {
    .header {
        height: 350px;
        background-size: 110%;
    }
    h1 {
        padding-top: 100px;
        padding-bottom: 60px;
    }
    #services .container {
        padding-bottom: 100px;
    }
}